extends layout

block content
    .container
        header 
            h1 Well Done, all images processed
            .logout 
                a(href="/") Instructions
                a(href="/stats") Statistics
                a(href="/auth/signout") Logout #{username} 
        .body                       
            img(src="/images/welldone.jpg")